<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Firmware listing</div>
  <div class="panel-body">
    <p></p>
  </div>
  <table class="table">
    <thead> <tr> <th>Name</th> <th>Creation Date</th></tr> </thead> <tbody>
{{#each firmwareList}}
      <tr>
        <th scope="row">{{name}}</th> <td>{{createdAt}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>

</div>
